html {
  font-family: DM sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--color-primary-100));
  color: black;
}

:root {
  --toastify-color-info: rgb(var(--color-primary-500)) !important;
}

.rich-text {
  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  &__small {
    font-size: 1rem;
    line-height: 1.5rem;

    ul, ol {
      padding-left: 1.5rem;
    }

    h1 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    h2 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  &__large {
    font-size: 1rem;
    line-height: 1.5rem;

    ul, ol {
      padding-left: 2rem;
    }

    h1 {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }

    h2 {
      font-size: 1.15rem;
      line-height: 1.8rem;
    }
  }
}
